/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(https://www.whitecase.com/sites/default/files/images/hero/2023/06/africa-focus-summer-2023-preserving-africas-biodiversity-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Layout styles */
header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


nav {
    background-color: #444;
    padding: 10px;
}

/* .background-clip{ 
    opacity: 0.7;
    height: 100vh;
    width: 100vw;

} */


.content {
    position: relative;
    z-index: 1;
    color: rgb(30, 255, 0);
    text-align: center;
    padding: 20px;
}
main {
    display: flex;
    flex-grow: 1;
    padding: 20px;
}

main section {
    flex: 3;
    padding-right: 20px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: green;
}
h3{
    margin: auto;
    height: 40px;
    width: 900px;
}

/* main aside {
    flex: 1;
    background-color: #f4f4f4;
    padding: 10px;
    opacity: 0.4;
    color: #fff;
} */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    main {
        flex-direction: column;
    }

    main section {
        padding-right: 0;
    }
}
